@page "/quiz"
@using QuizMaster.Shared
@inject IQuizService QuizService

@if (currentQuiz != null)
{
    <div class="container">
        <div class="quiz">
            @if (currentQuiz.Questions!=null)
            {
            @if (questionIndex < currentQuiz.Questions.Count())
            {
                <div class="app-title">
                    Quizzing!
                </div>
                <div class="quiz-header">
                    @currentQuiz.Questions[questionIndex].QuestionTitle
                </div>
                <div class="quiz-body">
                    @foreach (var option in currentQuiz.Questions[questionIndex].Options)
                    {
                        <OptionCard Option="@option" OnOptionSelected="OptionSelected"></OptionCard>
                    }
                </div>
            }
            else
            {
                <div class="app-title">
                    @if (score > (currentQuiz.Questions.Count / 2))
                    {
                        <h2>winner!</h2>
                            <img src="https://img.icons8.com/ios-filled/50/000000/trophy.png" />
                        
                    }
                    else
                    {
                        <h2>loser!</h2>
                        @*<img src="https://img.icons8.com/color/96/000000/lose.png" />*@
                    }
                </div>
                <div class="app-title">
                    @(score > (currentQuiz.Questions.Count() / 2) ? "Congratulation" : "Better Luck Next Time")
                </div>
                <div class="quiz-header">
                    <b>You scored @score points!</b>
                </div>
                <div class="quiz-footer">
                    <button class="next-btn" @onclick="@RestartQuiz">Play Again</button>
                </div>
            }
            }
        </div>
    </div>
 

}

@code {

    public QuizMaster.Shared.Quiz currentQuiz { get; set; } = new QuizMaster.Shared.Quiz();
    protected int questionIndex = 0;
    protected int score = 0;

    protected async override Task OnInitializedAsync()
    {
        currentQuiz = await QuizService.GetQuiz();

        //return base.OnInitializedAsync();
    }

    protected void OptionSelected(string option)
    {
        if (option == currentQuiz.Questions[questionIndex].Answer)
        {
            score++;
        }
        questionIndex++;
    }

    protected void RestartQuiz()
    {
        score = 0;
        questionIndex = 0;
    }

}
